{% extends 'pages/dashboard.html' %}
{% load static %}

{% block title %}Đăng ký ghi danh{% endblock %}

{% block add_css %}
    <title>Đăng ký ghi danh</title>
    <link rel="stylesheet" href="{% static 'css/ghi_danh.css' %}">
{% endblock %}

{% block content %}
    <div class="ghidanh-box">
        <h2>Đăng ký ghi danh</h2>
        <table class="table-hocphan">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Loại</th>
                    <th>Mã học phần</th>
                    <th>Tên học phần</th>
                    <th>STC</th>
                    <th>Thao tác</th> <!-- Cột không tên -->
                </tr>
            </thead>
            <tbody>
                {% for hp in hpghidanh %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ forloop.counter }}</td>
            <td>{{ hp.mahp.mahp }}</td>
            <td>{{ hp.mahp.tenhp }}</td>
            <td>{{ hp.mahp.sotc }}</td>
            <td><button class="btn-action">Chọn</button></td>
        </tr>
                {% endfor %}
                <!-- Thêm dòng khác nếu cần -->
            </tbody>
        </table>    
    
        <h2>Kết quả đăng ký</h2>
        <table class="table-hocphan">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Loại</th>
                    <th>Mã học phần</th>
                    <th>Tên học phần</th>
                    <th>STC</th>
                    <th>Thao tác</th> <!-- Cột không tên -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for kq in kqghidanh %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kq.mahp.mahp }}</td>
                        <td>{{ kq.mahp.tenhp }}</td>
                        <td>{{ kq.mahp.sotc }}</td>
                        <td><button class="btn-action">Hủy</button></td>
                    </tr>
                    {% endfor %}
                <!-- Thêm dòng khác nếu cần -->
            </tbody>
        </table>   
        <div class="confirm-box">
            <button class="btn-confirm" onclick="confirmRegistration()">Xác nhận</button>
        </div>
    </div>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/ghidanh.js' %}"></script>
{% endblock %}